/*  index.blade.php*/
body {
	-webkit-text-size-adjust: 100%;
	background-color: #F9FBFE;
  }



  .basic_color{
	color: #2B546A;
  }


	/* トップコピー */
.top_copy{
	margin-top: 30px;
    margin-bottom: 45px;
}

.top_copy h2{
    margin-bottom: 25px;
}

.text { display: inline-block; }


	/* 問題一覧 */

.row {
  margin-right: -15px;
  margin-left: -15px;
}



.box {
	border: 1px solid #dedede;
	background-color: #FFFFFF;
	box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.055);
    border-radius: 2px;
    padding:140px 24px;
    margin-bottom:40px;

  }





/* Question周りのスタイル */

h1{
	text-align: center;
	margin:45px 0px;
}

.q_container{
	margin:45px;
}


	/* 小問題のスタイル */

.centering-block {
	text-align: center;
	}

.centering-block .centering-block-inner {
	text-align: left;
	display: inline-block;
	min-width: 50%;
	}


.small-question{
	padding-left:127px;
	width: 800px;
	margin: auto;
	word-wrap: break-word;
}

.small-form{
	text-align: left;
	margin: 30px 0px;;
}

form{
	background-color: #FFFFFF;
	box-shadow: 4px 4px 8px;
	padding:20px;

}
/* form h5{
	text-align: left;
	 word-wrap:break-all;
} */

.submit{
	text-align: right;
	margin-right: 1%;
}

.back-top{

	text-align: right;
	margin-right: 1%;
}

.back-top a{
	color:black;
}

.btn-primary {
    background: #45CEDB;
	border-color: #45CEDB;
    color: black;
}

.small-question strong{
	color : red;

}

.marker{
	background: linear-gradient(transparent 0%,#f0f0f0 0%);
	font-weight: bold;
}




/* error */

.errors {
	margin:auto;
	width: 300px;
	font-size: 12px;
	color: #e95353;
	border: 1px solid #e95353;
	background-color: #f2dede;
}
.complete {
	padding-left: 10px;
	width: 290px;
	font-size: 12px;
	color: #2a88bd;
	border: 1px solid #2a88bd;
	background-color: #a6e1ec;
}
